@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size:   15px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     50px !default;

// Blackbird color scheme - elegant charcoals and grays on light background
$text-color:       rgb(55, 53, 47) !default;
$link-color: #374151;           // Deep charcoal gray - blackbird feathers
$code-color: #4b5563;           // Slate gray for inline code
$background-color: #ffffff !default;
$brand-color:      #1f2937 !default;  // Darker charcoal for brand/headers

$grey-color:       #6b7280 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  #1f2937 !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "bigfoot-default"
;