/**
 * Syntax highlighting styles
 */
 code.highlighter-rouge {
  font-family: Menlo, monospace;
  font-size: 0.875rem;
  white-space: pre-wrap;
  color: $code-color;
 }

pre.highlight {
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
}